
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Conjur</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Our Works</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div>
</nav>
<div class="jumbotron" id="home-jumbotron">
  <div class="jumbotron-contents">
    <h1>Your Custom Software House</h1>
    <p>The <strong>Software</strong> you Like . The <strong>Technology</strong> you Deserve . The <strong>Automation</strong> you Need</p>
    <p><a class="btn btn-lg btn-clear" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="container">
  <div class="row" id="process-section">
    <div class="process-step" data-sr="wait 0.1s enter left, hustle 70px">
      <div class="process-image">
        <%= image_tag('icon_consult.png') %>
      </div>
      <div class="process-text">
        <h2>Consult Us</h2>
      </div>
    </div>
    <div class="process-step" data-sr="wait 0.5s, enter left, hustle 70px">
      <div class="process-image with-line">
        <%= image_tag('icon_develop.png') %>
      </div>
      <div class="process-text">
        <h2>We Develop</h2>
      </div>
    </div>
    <div class="process-step" data-sr="wait 1s, enter left, hustle 70px">
      <div class="process-image with-line">
        <%= image_tag('icon_results.png') %>
      </div>
      <div class="process-text">
        <h2>Get Results</h2>
      </div>
    </div>
  </div>
</div>

<div id="upgrade-cta-section">
  <div class="container-fluid">
    <h1>Upgrade Your Business Now</h1>
    <p>Stop using outdated solutions or paper based methods today!</p>
  </div>
</div>

<div id="featurette-section">
  <div class="featurette primary">
    <div class="container">
      <div class="row">
        <div class="featurette-image" data-sr="scale 100%, over 1.2s">
          <%= image_tag 'icon_automate.png' %>
        </div>
        <div class="featurette-text" data-sr="enter bottom, hustle 50px">
          <h1>Automate Your Process</h1>
          <p class="lead">Software that runs your business</p>
          <p>Whether the task be menial or critical, automating all
            or a portion of your business process means gained
            efficiencies. That means <strong>BIG</strong> financial savings! Eliminate
            bottlenecks and free your workforce so they can spend
            more time concentrating on taking your company to the
            next level.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="featurette alternate">
    <div class="container">
      <div class="row">
        <div class="featurette-image" data-sr="enter left, hustle 50px, over 1.2s">
          <%= image_tag 'icon_integrate.png' %>
        </div>
        <div class="featurette-text" data-sr="enter right, hustle 50px, over 1.2s">
          <h1>Integrated Solutions</h1>
          <p class="lead">See for yourself</p>
          <p>We can help you create almost any sort of customized software you can think of,
            from <strong>CRM</strong> & <strong>HRM</strong> systems to <strong>e-commerce platforms</strong>.
            Transform your business from a paper based system and harness your new
            digitally powered productivity, or prototype and create your
            new web application with us.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="featurette primary">
    <div class="container">
      <div class="row">
        <div class="featurette-image" data-sr="roll 360deg">
          <%= image_tag 'icon_responsive.png' %>
        </div>
        <div class="featurette-text" data-sr="enter top, hustle 50px, over 1.2s">
          <h1>Fully Responsive Webapps</h1>
          <p class="lead">From dekstop to mobile</p>
          <p>We believe in building webapps that can be used
            in any screen size, from your laptop to your favourite
            smart phone.</p>
        </div>
      </div>
    </div>
  </div>
</div>
