<%= render 'layouts/navbar' %>

<div class="jumbotron vertical-center">
  <div class="container">
    <div class="text-center">
      <h1>Your Custom Software House</h1>

      <div class="divider"></div>
      <p>The Software you <b>Like</b>, The Technology you <b>Deserve</b>, The Automation you <b>Need</b></p>
    </div>
  </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<!-- START THE FEATURETTES -->

<div class="row featurette">
  <div class="container text-center">
    <div class="col-md-12">
      <h2 class="featurette-heading">Upgrade your business now.</h2>

      <p class="lead">Stop using paper based methods or outdated solutions</p>
    </div>
  </div>
</div>

<div class="row featurette feat-alt">
  <div class="container">
    <div class="col-md-7">
      <h2 class="featurette-heading">Automate your Process.
        <span class="text-muted">Software that runs your business.</span></h2>

      <p class="lead">Whether the task be menial or critical, automating all or a portion of your business process means
        gained efficiencies.
        That means BIG financial savings! Eliminate bottlenecks and free your workforce so they can spend more time
        concentrating on taking your company to the next level.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("automate.png", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>
</div>

<div class="row featurette">
  <div class="container">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Integrated solutions. <span class="text-muted">See for yourself.</span></h2>

      <p class="lead">We can help you create customised CRM, HRM, ECommerce. Transform your business from paper based to
        digital.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("integration.png", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>
</div>

<div class="row featurette feat-alt">

  <div class="container">
    <div class="col-md-7">
      <h2 class="featurette-heading">Fully Responsive Webapps. <span class="text-muted">From Desktop to Mobile.</span>
      </h2>

      <p class="lead">We believe in building webapps that can be used in any screen size, from your laptop to your
        favourite smart phone.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("responsive.png", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>
</div>

<!-- /END THE FEATURETTES -->

<div id="about-us">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="container text-center">
      <h1>Our Team</h1>

      <div class="col-lg-4">
        <%= image_tag("henry.png", :class => "img-responsive img-circle") %>
        <h3>Henry Chua</h3>
        <h2>IT Consultant / Software Engineer</h2>

        <p>"I love solving other people's problems"</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("ivan.png", :class => "img-responsive img-circle") %>
        <h3>Ivan Poon</h3>
        <h2>IT Head / Software Engineer</h2>

        <p>"Nothing is too difficult"</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("pingchiang.png", :class => "img-responsive img-circle") %>
        <h3>Sng Ping Chiang</h3>
        <h2>Software Engineer / UX </h2>

        <p>"I love building software"</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <!-- /.row -->

</div><!-- /.container -->

<div id="contact-us">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="container text-center">
      <p><%= image_tag("contact_us.png", :class => "featurette-image img-responsive center-block") %></p>
      <p>Contacting us is easy! Just shoot us an email at: </p>
      <h2>enquiry@conjur.tech</h2>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <!-- /.row -->

</div><!-- /.container -->

<!-- FOOTER -->
<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>

    <p>© 2015 Conjur LLP · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </div>
</footer>