<!DOCTYPE html>
<html>
<head>
  <title>Conjur Technologies</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="TcsQVNaNlvb5ipcPReaZPNFVQlrGB4BgERuves5UCWE" />
  <!-- See: https://github.com/jlmakes/scrollReveal.js/wiki/Tips#making-sure-your-elements-load-hidden -->
  <style>[data-sr] { visibility: hidden; }</style>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?3m21xMW9DQyFghuEJ4VMGMY4EHaYRpMB";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->
</head>
<body data-spy="scroll" data-target="#navbar-conjur" data-offset="0">

<%= yield %>

<%= javascript_include_tag "scrollReveal.min.js" %>
<script>window.sr = new scrollReveal();</script>
</body>
</html>
