<!DOCTYPE html>
<html>
<head>
  <title>Conjur Technologies</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="TcsQVNaNlvb5ipcPReaZPNFVQlrGB4BgERuves5UCWE" />
</head>
<body>

<%= yield %>

<%= javascript_include_tag "scrollReveal.min.js" %>
<script>window.sr = new scrollReveal();</script>
</body>
</html>
