<!DOCTYPE html>
<html>
<head>
  <title>ConjurWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="TcsQVNaNlvb5ipcPReaZPNFVQlrGB4BgERuves5UCWE" />
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>
